<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<hr/>
<div>
  <div class="row">
    <div class="col-md-6">
      <h2>Search reviews</h2>
      <p>
        Looking for a nice place to BeFree? Use our advanced search to find just the right one!
      </p>
      <button type="button" class="btn btn-primary center" (click)="gotoNew()">Search 
          <span class="fa fa-search"></span>
      </button>
    </div>
    <div class="col-md-6">
      <h2>New review</h2>
      <p>
        Found a place and you want to help fellow BeFreeers? Write a review and help other find that special place or avoid the awful
        one!
      </p>
      <button type="button" style="text-align:center" class="btn btn-primary" (click)="gotoNew()">New  
            <span class="fa fa-plus" aria-hidden="true"></span>
        </button>
    </div>
  </div>
</div>



<hr/>
<div>
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <latest-reviews></latest-reviews>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-4">
      <top-properties></top-properties>
    </div>
  </div>
</div>

<hr/>
<blockquote>
    <p>Finally I'm free to roam the world knowing that BeFree will save my ass (pun intended)</p>
    <footer>Stjepko, CEO of  <cite title="JustMyGame">JustMyGame</cite></footer>
  </blockquote>
