<div class="well well-sm ">
  <h2>{{property.Name}}</h2>
</div>
<div class="row">
  <div class="col-md-4">
    <p><small>Category:</small>
      <br/> {{property.Category.Name}}
    </p>
    <p><small>Address:</small>
      <br/> {{property.Address}}</p>
    <h3>
      <div class="label label-{{getLabelColour()}} text-right">{{property.AverageRating}} <i class="fa fa-star-o" aria-hidden="true"></i></div>
    </h3>
  </div>
  <div class="col-md-8">
    <img src="https://maps.googleapis.com/maps/api/staticmap?zoom=13&size=600x300&maptype=roadmap&markers=color:blue%7Clabel:S%7C{{property.Latitude}},{{property.Longitude}}&key=AIzaSyCJwebjs9mpuOex_uZ7axThkPyLYN_1-U0"
      alt="">
  </div>
</div>

<hr/>
<div class="list-group">
  <div class="panel panel-primary">
    <div class="panel-heading">Reviews <button class="btn btn-sm btn-success left" (click)="toggleSort()"><span class="fa fa-sort-amount-{{sort}}"></span></button></div>
    <button type="button" class="list-group-item" *ngFor="let review of reviews; let i = index" [class.selected]="review === selectedreview"
      (click)="onSelect(review)">
        <span class="badge">{{review.Rating}}</span>{{(currentpage - 1) * 10 + i+1}}. {{review.Comment}} 
        <div><small>[{{review.RatedOn}}]</small></div>
      </button>
  </div>
</div>
<hr/> Page: {{currentpage}}

<nav aria-label="...">
  <ul class="pager">
    <li class="previous">
      <button (click)="previousPage()"><span aria-hidden="true">&larr;</span> Previous</button></li>
    <li class="next">
      <button (click)="nextPage()">Next <span aria-hidden="true">&rarr;</span></button></li>
  </ul>
</nav>

<button type="button" (click)="modal1.show()">test</button>

<app-review-modal #modal1>
  <div class="app-review-modal-header">
    header
  </div>
  <div class="app-review-modal-body">
    Whatever content you like, form fields, anything
    <input type="text">
  </div>
  <div class="app-review-modal-footer">
    <button type="button" class="btn btn-default" (click)="modal1.hide()">Close</button>
    <button type="button" class="btn btn-default" (click)="modal2.show()">Show modal 2</button>
    <button type="button" class="btn btn-primary">Save changes</button>
  </div>
</app-review-modal>